<h1>New image</h1>
<div class="row">
<div class="col-lg-1">
    <%= render 'form' %>
    <div><button id="capture" class="btn btn-success">Capture</button></div>
    <br/>
    <div><%= link_to 'Back', images_path , :class => "btn btn-primary"%></div>
</div>
<div class="col-lg-4">
    <video id="video" autoplay></video>
</div>
<div id="output" class="col-lg-offset-6"></div>
</div>