<p id="notice"><%= notice %></p>
<div class="well">
    <p>
      <%= image_tag large_image_path(@image) %>
    </p>

    <p>
      <b>Username:</b>
      <%= @image.username %>
    </p>


    <%= link_to 'Back', images_path, :class=>"btn btn-default" %>
</div>




